<div class="container mt-5">
        <div class="card">
            <div class="card-header text-white">Sobre mi...</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>Paula Aguiló Silva</p>
                    <footer class="blockquote-footer mt-3">Experta desarrolladora de sitios web, con una basta experiencia
                    en aplicaciones enfocadas a dar solución a las distintas necesidades de mis clientes, a través de aplicaciones 
                    dinámmicas, responsivas e intuitivas. <br><br>
                    <cite title="Source Title">Puedes revisar mi trabajo en la sección Proyectos</cite></footer>
                    </blockquote>
                </div>
        </div>       
</div>